name: Test

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: [ubuntu:latest]
    
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        cache: true
        cache-key: flutter # change this to force refresh cache
        cache-path: ${{ runner.tool_cache }}/flutter && echo "${{ runner.tool_cache }}"
        flutter-version: '3.0.0'
